@tailwind base;
@tailwind components;
@tailwind utilities;
/*body {*/
/*    margin: 0;*/
/*    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",*/
/*    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",*/
/*    sans-serif;*/
/*    -webkit-font-smoothing: antialiased;*/
/*    -moz-osx-font-smoothing: grayscale;*/
/*}*/

/*code,*/
pre {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
    white-space: normal;
    word-wrap: break-word;
    background-color: lightgrey;
    padding: 1rem;
    border-radius: 0.25rem;
    display: block;
}

.container {
    margin: 0 auto;
    max-width: 76rem;
    padding: 0 2rem;
}

.owner-name {
    color: red; /* or any other color you want */
}

.text-page {
    @apply text-3xl font-bold;
}
.text {
    @apply text-base font-bold text-gray-800;
}.

 text2 {
    @apply text-base text-gray-600;
}

 .btn {
     @apply bg-blue-500 hover:bg-blue-700 text-white font-bold px-4 rounded;
 }

/*nav {*/
/*    background-color: #333333;*/
/*    color: white;*/
/*}*/

/*.navbar {*/
/*    display: flex;*/
/*    justify-content: space-between;*/
/*    align-items: center;*/
/*}*/

/*.navbar ul {*/
/*    padding: 0;*/
/*    margin: 0;*/
/*    list-style: none;*/
/*    display: flex;*/
/*}*/

/*li {*/
/*    padding: 1rem;*/
/*}*/

/*a {*/
/*    text-decoration: none;*/
/*    color: inherit;*/
/*}*/